body{
    color: #7e8395;
    background:#555c74;
    font-family:'Montserrat';
}
button, .cursor,.rest-container,.pin,.pin-empty{
    cursor:pointer
}
.fas{
    font-family: "Font Awesome 5 Free";
}
.App {
    text-align: center;
    margin-top:4em;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}
#nav-wrapper{
    position:fixed;
    width:100%;
    top:0;
    z-index:50;
}
nav{
    height:2.5em;
    display:fixed;
    top:0;
    background:white;
    background:#7e8395;
}
nav h1{
    text-transform:none;
}
#search-li{
    width:auto;
}
#searchbar, select,#edit-input, [id^='settings-']{
    display:inline-block;;
    background:#555c74;
    border-radius:.3em;
    border:none;
    margin:0 auto;
    margin-top:.4em;
    color:white;
    
}
#searchbar input, #searchbar button{
    display:inline-block;
    background:none;
    border:none;
    color:white;
    padding:5px;
    padding-top:0;
    padding-bottom:0;
    margin:0;
}
#searchbar input{
    width:10em;
}
#searchbar button{
    display:inline;

}
#search-drop{
    position:absolute;
    background:#555c74;
    width:11em;
    border-radius:.3em;
}
#search-drop ul{
    list-style:none;
    margin:0;
    padding:0;
    color:#b8bdd1;
    width:100%;
}
#nav-wrapper li a{
    width:auto;
    display:block;
}
#search-drop li a:active, #search-drop li a:hover{
    background: #e1bfe1;
    color:teal;
}
#search-drop li a>span{
    margin-left:.5em;
    margin-right:.5em;
    float:right;
}
.right-nav{
    float:right;
    width:30%;
    margin:0;
    padding-left:0;
    padding:0;
}
#account-dropdown{
    position:absolute;
    display:block;
    top:2.5em;
    right:.5em;
    width:10%;
    margin:0;
    padding:0;
    list-style:none;
    background:#7e8395;
    text-align:right;
    overflow:hidden;
}
#account-dropdown li{
}
#account-dropdown li:hover{
    background:#e1bfe1;
}
#account-dropdown li a{
    color:#f6efd0;
    padding:.5em 1em .5em 2em;
    height:1.5em;
}
#account-dropdown li a:hover{
    color: teal;
}
.soft-shadow, #bio {
    box-shadow:4px 4px 8px #00000020;
}
.softer-shadow, .user-picture{
    box-shadow:-2px 4px 8px #00000010;
}
nav ul, #logo-font{
    margin:0 auto;
    font-size:1em;
    margin-left:6em;
    margin-right:4em;
    display:inline-block;
    width:70%;
    list-style:none;
}
#logo-font{
    width:30%;
    margin-left:2.6em;
    margin-left:5em;
    margin-top:.15em;
    padding-top:0em;
    line-height:1em;
    letter-spacing:0;
    font-size:2.7em;
    color: #fceefa;
    color:#f6efd0;
   /* text-shadow: 4px 4px 0 #9d8c7d;
    text-shadow: 2px 2px 0 #6d635a;*/
    text-shadow: 3px 3px 2px #4d5369;
    /*text-shadow:
        -2px -2px 0 #f6efd0,
        2px -2px 0 #f6efd0,
        -2px 2px 0 #f6efd0,
        2px 2px 0 #f6efd0;  
        */
}
#logo-font small{
    font-size:.6em;
    font-family:'Amatic SC', cursive;
    font-height:.5em;
    font-stretch:expanded;
    font-weight:600;
    text-shadow: 3px 2px 0 #4d5369;
}
#logo-circle{
    position:fixed;
    background:#b8bdd1;
    top:-1em;
    left:-1em;
    height:10em;
    width:10em;
    border-radius:6em;
    border-radius: 0em 6em 6em;
    z-index:99;
}
#logo-circle>a>img{
    height:100%;
    z-index:100;
}
#logo-circle>a{
    position:fixed;
    height:7em;
    left:2em;
    top:.5em;
}
.right-nav>li{
    display: inline-block;
    margin:0;
    padding:0;
    width:2em;
    height:2em;
    }
.right-nav button, button,input[type=image], button svg {
    margin: 0 3vw;
    text-transform:uppercase;
    font-weight:bold;
    text-shadow:2px 2px teal;
    color:#b8bdd1;
    color:#f6efd0;
    fill:#f6efd0;
    text-shadow:2px 2px #4e546b;
    border-radius:2em;
    width:2em;
    height:2em;
    box-shadow:none;
    border:none;
    background:transparent;
}
.right-nav button:active, .right-nav button:hover{
    background:#b8bdd1;
    color:#fceefa;
}

button img{
    height:80%;
    text-shadow:2px 2px teal;
}
nav a{
    color:#b8bdd1;
    text-decoration:none;
}

h1,h2,h3{
    font-weight:normal;
}
#root h1{
    font-family: 'Amatic SC', cursive!important;
 /*   margin-top:1em;*/
    color:#e1bfe1;
    color:#b8bdd1;
    color: #f6efd0;
    letter-spacing:.1em;
    font-weight:700;
    font-size:2em;
}
h2{
    font-family: 'Amatic SC', cursive!important;
    margin-bottom:0em;
    color:#9cc9c9;
    color:teal;

}
h4{
    margin-top:.5em;
    font-weight: normal;
    color:grey;
    color:#e1bfe1;
    color:#ffccee;
    color:white;
}
h4 a{
    color: #1198c4;
    color: #ffccee;
    text-decoration:none;
}
h4 a:hover{
    text-decoration:underline;
}
#list-container{
    display:flex;
    flex-direction:row;
    justify-content:center;
}
#list-actions{
    background:#7e8395;
    flex-basis:10%;
    margin-left:5%;
    padding-bottom:2em;
    position:sticky;
    height:100%;
}
#list-actions h2{
    margin:0;
    height:2em;
    padding-top:1em;
    background: #e1bfe1 ;
    background: #f6efd0;
    font-size:1em;
}
#list-actions ul{
    padding:0;
    padding-top:1em;
    margin:0;
    color:white;
    list-style:none;

}
#list-actions li{
    padding:0;
    margin:.2em;
}
#list-wrapper{
    flex-basis:70%;
}
.rest-container{
    /*border:1px solid blue;*/
    display:block;
    padding-top:1px;
    width:75%;
    margin:0 auto;
    margin-bottom:3em;
    padding-bottom:2em;
    background: #e1bfe1 ;
    background: #7e8395;
    transition:.4s;

}
.rest-container h2, .pin h3{
    color:#f6efd0;
    font-family:'Montserrat'!important;
    text-shadow: 3px 3px 2px #4d5369;
    text-align:left;
    margin-left:1em;
    font-size:2em;
    font-weight:bold;
    transition:.2s;

}
.rest-container img{
    width:4em;
    height:4em;
    margin:1em;
    border-radius:10%;
    border-radius:5% 50% 50%;
    transition:.2s;
}
.collapsed{
    padding-bottom:0;
}
.collapsed img, .collapsed .tags{
    width:6em;
    height:6em;

}
.collapsed img{
    border-radius:50% 50% 5%;
}
.collapsed .tags{
    height:4.5em;
    flex-basis:50%;
}
.collapsed .flex-row{
    height:7em;
}
.collapsed h2 {
    font-weight:normal;
    font-size:1.5em;
}

.rest-container .flex-row{
    margin: 0 auto;
    align-items:center;
    height:5em;
}
.rest-container>div>div:first-of-type {
    margin:2em;
    padding-bottom:1em;
    width:100%;
    flex-basis:50%;

}
.restaurants{
    display:block;
    text-align:left;
    background:#e1bfe1;
    background:#7e8395;
    color:#e1bfe1;
    color:white;
    width:70%;
    margin: 2em 6em;
    margin:0 auto;
    padding-top:1em;
    padding-bottom:1em;
    padding-left:3em;
    list-style:none;
}
.restaurants a{
    color:white;
    margin-top:-.3em;
}
.restaurants li{
    margin:.5em;
}
.restaurants li:before{
    content:"●";
    font-size:2.5em;
    color:#6d635a;
    color:#4f4c4c;
    margin-right:.5em;
}
.restaurants>li>div>span:first-of-type, .restaurants>li>span{
    display:inline-block;
    background:#6d635a;
    background:#4f4c4c;
    border-radius:2em;
    padding:.4em;
    padding-left:2em;
    padding-right:2em;
    margin: auto 0;
    min-width:6em;
    
    
    }
.restaurant>li>div>span:lastChild{
    background:red;
}

.restaurants>li>div{
    display:inline-block;
}
#edit-input{
    padding:.3em;
    color:#b8bdd1;
}
.restaurants .details{
    font-size:.8em;
    margin:1em;
    display:block;
    
}
.restaurants li button{
    background:lavender;
    background:transparent;
    color:white;
    box-shadow:none;
    margin:0;
    padding:0 .5em;
    border:none;
    border-radius:.2em;
}
.tags{
    height:100%;
    width:10em;
    align-items:flex-start;
    flex-wrap:wrap;
    margin-left:2em;

}
.tags .tag{
    display:inline-block;
    background:teal;
    color:white;
    margin:.1em;
    padding:.3em;

}
.details .flex-row{
    height:8em;
    margin:1em;

}
.flex-row .restaurant-pic-wrapper{
    height:6em;
    width:6em;
    background:#555c74;
    padding:.3em;
}
.flex-row .restaurant-pic{
    height:100%;
    width:100%;
    border-radius:0%;
    margin:0 auto;
}


.show-more{
    color:white;
    position:relative;
    
}
.no-display{
    display:none!important;
}
.hidden{
    visibility:hidden!important;
}
#user-wrapper,#user-settings{
    display:flex;
    flex-direction:row;
    width:75%;
    margin: 0 auto;
}
.img-wrapper{
    width:10em;
    margin:0 auto;
}
.user-picture{
    object-fit:cover;
    border-radius:50%;
    transition:1s;
    height:180px;
    width:180px;
}
#stats-wrapper{
    width:50%;
    padding-top:2em;
    flex-basis:35%;
}
.flex-column{
    display:flex;
    flex-direction:column;
}
.flex-row{
    display:flex;
    flex-direction:row;
}
.inline-flex{
    display:inline-flex;
}
.center{
    margin: 0 auto;
}
#stats{

}

#bio, #settings-bio{
    background:#7e8395;
    color:white;
    padding:2em;
    width:75%;
    border:none;
    margin: 0 auto
}
#carousel .img-wrapper{
    width:10em;
    display:inline-block;
}
#carousel::-webkit-scrollbar {
    display: none;
}

#carousel{
    margin:2em;
    background:#b8bdd1;
    overflow: auto;
    white-space:nowrap;
    padding-top:.6em;
    padding-bottom:.6em;
    align-items:center;
    -ms-overflow-style:none;
}
#carousel img{
    margin-left:.6em;
    margin-right:.6em;
}
.list-container{
    margin:0 auto;
    width:70%;
}
.hover-resize{
    width:95%;
    transition:.5s;
}
.hover-resize:hover{
    width:100%;
    transition:.5s;
    margin: -.45em .45em !important;
    z-index:9
}
.rest-container, #bio, .restaurants{
    border-radius:1%;
    

}
.profile-actions{
    margin-top:1em;
    margin-left:auto;
}
.profile-actions button{
    margin: 0 1vw;
    padding:.3em;

}
#invite img{
    padding-top:.2em;
    width:100%;
}

.home .actions{
    background: #7e8395;
}
.home icon{
    color:#ffccee;
    display:inline-block;
    height:1em;
    margin:auto 0;
}
#pinned-row{
    margin: 0 auto;
    width:auto;
    display:inline-block;
}
#pins{
}
.pin, .pin-empty{
    margin:1em;
    border-radius:5%;
    height:8em;
    align-items:center;
} 
.pin-empty{
    border:2px dashed #b8bdd1;
    transition:1s;
}
.pin-empty:hover{
    transition:.5s;
    background:#7e8395b5
}
.pins button{
    margin: auto 0;
}
.pin{
    width:200px;
    background: #7e8395;
    flex: 0 0 auto;
}
.pin h3{
    margin:0;
    font-weight:normal;
    font-size:1.5em;
}
.pin img{
    border-radius:100%;
    height:4em;
}

.home .actions{
    width:30%;
    margin:0 auto;
    z-index:3
}
.actions  button{
    margin:1em;
}
.home .actions,.actions>.inline-flex>button{
    position:static;
}
.more{
    background: #7e8395;
    position:absolute;
    height:6em;
    margin-top:3.8em;
    padding-top:1em;
}
.more button{
    margin:.5em;
}
.actions>.inline-flex{
    justify-content:center;
}
#Settings label{
    margin:.5em;
    min-width:10em;
    color:#b8bdd1;
}
#settings-bio,[id^='settings-'], select{
    border:1px solid #7e8395;
    background:transparent;
    padding:.5em;
    appearance:none;
}
select::after{
    content:"v"
}
[id^='settings-']{
    margin:.3em;
    width:20em;
}
#settings-bio{
    
}
[id^='settings-']:focus, #settings-bio:focus, select{
    background:#7e8395;
}

#user-settings-col-2{
    width:100%;
}
#user-settings-col-2 #bio{
    margin-right:15%;
}
#row-user-save{
    width:100%;
    content-align:right;
    background:transparent!important;
}
#row-user-save span{
    margin: auto 0;
    margin-left:auto;
}
#settings-user-save{
    width:5em;
    margin-right:15%;
}
#account-settings{
    margin-top:3em;
}
#account-settings>form{
    width:75%;
    margin: 0 auto;
}
#account-settings>form label{
    display:inline-block;
    margin-left:0;
    margin-right:4em;
    min-width:20em;
    margin-top:1em;
    margin-bottom:1em;
}
#account-settings>form>div{
    width:70%;
    margin:1em auto;
    border-radius:5%;
}
.darken-img{
    filter: brightness(50%);
    transition:.5s;
    cursor:pointer;
}
#settings-pass{
    background:transparent;
    border:1px solid #7e8395;
    border-radius:0px;

}

#modal-veil{
    width:100%!important;
    height:100%!important;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:0!important;
    padding:0;
    position:fixed;
    z-index:8;
    background: #00000066

    }
#gallery-modal,#gallery{
    position:fixed;
    width:50%;
    height:50%;
    border-radius:1%;

    background:#7e8395;
    margin:0 auto;
    top:25%;
    left:25%;
    z-index:9;

}
#gallery{
    background:#555c74;
    width:30%;
    height:30%;
    top:35%;
    left:35%
}
